<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Configuraciones</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Permitir eliminar citas en el inicio</ion-label>
    <ion-toggle [(ngModel)]="allowDeleteOnHome" (ionChange)="toggleAllowDelete()"></ion-toggle>
  </ion-item>
</ion-content>

