<form (submit)="submitQuote()">
  <ion-item>
    <ion-input
      [(ngModel)]="text"
      name="text"
      placeholder="Frase"
      required
      minlength="5">
    </ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="text && text.length < 5">
    <p>La frase debe tener al menos 5 caracteres.</p>
  </ion-text>

  <ion-item>
    <ion-input
      [(ngModel)]="author"
      name="author"
      placeholder="Autor"
      required
      minlength="2">
    </ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="author && author.length < 2">
    <p>El autor debe tener al menos 2 caracteres.</p>
  </ion-text>

  <ion-button
    expand="block"
    type="submit"
    [disabled]="!text || !author || text.length < 5 || author.length < 2">
    Agregar Cita
  </ion-button>
</form>
